
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Sriracha&display=swap');

/* ----------------------------------Default-------------------------------- */
/* set the margin, padding and border to 0 for best practice*/
* {
    border: 0;
    margin: 0;
    padding: 0;   
}

body {
    font-family: 'Sriracha', 'cursive', 'roboto';
    font-weight: 300;
}

button {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
}

 .background-image { 
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} 

/* ----------------------------------/Default-------------------------------- */
/* -------------------------------Navbar setup----------------------------- */
.game-logo {
    width: 8rem;
    height: 8rem;
}

.navbar-nav {
    background-color: white;
    height: 9rem;
    width: 100%;
}
/* -------------------------------/Navbar setup----------------------------- */
/* -------------------General settings - Window Modal ------------------ */

/* This resource has been used to center a div in the middle of the page: https://stackoverflow.com/questions/39085355/bootstrap-center-a-div-in-the-middle */
.home-page-window {
    border-radius: 15%;
    text-align: center;
    background-color: #b5e7b5;
    height: 22rem;
    width: 21rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
}

.home-button {
    font-size: 25px;
    border: 1px solid black;
    margin-top: 2em;
    border-width: 2px;
    background-color: #003300;
    position: relative;
    margin-bottom: 4px;
    width: 10em;
    color: #E5EAE5;
    border-color: #E5EAE5;
}

.home-button:hover {
    background-color: #009900;
}

.window-header {
    margin-top: 3px;
}
/* -------------------/General settings - Window Modal ------------------ */
/* -------------------Choose Level of Difficulty - Window------------------ */
.go-back-btn {
    color: #323232;
    font-size: 19px;
    margin-top: 3px;
}
/* -------------------/Choose Level of Difficulty - Window------------------ */

/* -------------------------------/Footer----------------------------- */
.main-footer {
    line-height: 50px;
    background-color: #b5e7b5;
}

.footer-icon {
    margin-left: 15px;
    color: #323232;
}

#copyright-text-align {
    text-align: right;
    margin-right: 35px;
}

#footer-links {
    text-align: center;
}

/* -------------------------------/Footer----------------------------- */
/* -------------------------------Media Queries----------------------------- */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Navbar setup */
    .game-logo {
        width: 5rem;
        height: 5rem;
    }
    
    .navbar-nav {
        height: 6rem;
        width: 100%;
    }

    /* set smaller font size for smaller devices */
    .window-header {
        font-size: 20px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* align home window modal on an iphone 5/SE */
    .home-page-window {
        width: 19rem;
        height: 20rem;
    }

    .home-button {
        margin-top: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    /* adjust position of home window modal */
    .home-page-window {
        width: 25rem;
        height: 25rem;
        margin-top: 11rem;
    }

    .home-button {
        margin-top: 1.5em;
        margin-bottom: 10px;
        width: 11em;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    /* Set position of difficulty window on an IPad */
    .home-page-window {
        margin-top: 18rem;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    
    /* Set position of difficulty window on an IPad */
    .home-page-window {
        margin-top: 25rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    .window-header {
        margin-top: 1em;
    }
}

/* -------------------------------/Media Queries----------------------------- */