/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Sriracha&display=swap');

/* ----------------------------------Default-------------------------------- */
/* set the margin, padding and border to 0 for best practice*/
* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sriracha', 'cursive', 'roboto';
    font-weight: 300;
}

button {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
}

.background-image {
    background-image: url('../images/background-img-gamecopy.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

/* ----------------------------------/Default-------------------------------- */
/* -------------------------------Navbar setup----------------------------- */
.game-logo {
    width: 5rem;
    height: 5rem;
}

.navbar-nav {
    background-color: white;
    height: 6rem;
    width: 100%;
}

/* -------------------------------/Navbar setup----------------------------- */
/* -------------------General settings - Window Modal ------------------ */

/* This resource has been used to center a div in the middle of the page: https://stackoverflow.com/questions/39085355/bootstrap-center-a-div-in-the-middle */
.home-page-window {
    /* border-radius: 15%; */
    text-align: center;
    /* background-color: #b5e7b5; */
    height: 22rem;
    width: 21rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.home-button {
    font-size: 25px;
    border: 1px solid black;
    margin-top: 2em;
    border-width: 2px;
    background-color: #003300;
    position: relative;
    margin-bottom: 4px;
    width: 10em;
    color: #E5EAE5;
    border-color: #E5EAE5;
}

.home-button:hover {
    background-color: #009900;
}

/* .window-header {
margin-top: 3px;
} */

.go-back-btn-other {
    color: #323232;
    font-size: 14px;
    margin-top: 3px;
}

/* -------------------/General settings - Window Modal ------------------ */
/* -----------------Choose Level of Difficulty - Window Modal---------------- */
.go-back-btn {
    color: #323232;
    font-size: 19px;
    margin-top: 3px;
}

/* ---------------/Choose Level of Difficulty - Window Modal---------------- */

/* Game area - set background image */
/* .background-img-game {
background-image: url('../images/background-img-game.jpg');
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height:100vh;
} */

/* --------------------General Styles for EASY Game Level------------------ */
.easy-game-div {
    position: absolute;
    top: 9rem;
}

.main-game-image-easy {
    border: 2px solid white;
    padding: 2px;
}

.small-game-image-easy {
    border: 2px solid white;
    padding: 2px;
}

/* ------------------/General Styles for EASY Game Level -------------------*/
/* --------------------Genral Styles for MEDIUM Game Level------------------ */

.medium-game-div {
    position: absolute;
    top: 9rem;
}

.col-level-md-game {
    margin:0;
}

.main-game-image-md {
    border: 2px solid white;
    padding: 2px;
}

.small-game-image-md {
    border: 2px solid white;
    padding: 2px;
}

/* ----------------/Genral Styles for MEDIUM Game Level------------------ */
/* -----------------General styles for ADVANCED Game Level -----------------*/
.advanced-game-div {
    position: absolute;
    top: 9rem;
}

.main-game-image-adv {
    border: 2px solid white;
    padding: 2px;
}

.small-game-image-adv {
    border: 2px solid white;
    padding: 2px;
}
/* -------------General styles for ADVANCED Game Level ----------------*/
/* -------------------In - game modal styles ------------------ */

.game-fail-div {
    width: 100%;
    padding-right: 5px;
    padding-left: 15px;
    position: absolute;
}
.in-game-button {
    color: antiquewhite;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #323232;
    opacity: 0.75;
    align-items: center;
    font-size: 30px;
}

.in-game-button:hover {
    color: #3ae13a;
}

.in-game-div {
    background-color: orange;
    background-size: cover;
}

.row {
    margin: 0
}

.time-records-div {
    background-color: #003300;
    color: #F8fbf8;
    opacity: 0.7;
    max-width: 27rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 9rem;
    text-align: center;
    position: absolute;
    max-height: fit-content;
}

.home-btn-return {
    border-width: 2px;
    background-color: #003300;
    color: #E5EAE5;
    border-color: #E5EAE5;
    max-width: fit-content;
    background-color: #CC8400;
    z-index: 1;
}

.home-btn-return:hover {
    background-color: #009900;
}

.i-home-btn-return {
    font-size: 20px;
}

/* Style timer and round div for all game levels */
.timer-div-style {
    margin-top: 5px;
    font-size: 25px;
}

/* -------------------/In - game modal styles ------------------ */
/* -------------------------------/Footer----------------------------- */
.main-footer {
    line-height: 40px;
    background-color: #b5e7b5;
}

.footer-icon {
    margin-left: 15px;
    color: #323232;
}

#copyright-text-align {
    text-align: right;
    margin-right: 35px;
}

#footer-links {
    text-align: center;
}

/* User notifications */
.user-notification {
    background-color: #003300;
    color: #F8fbf8;
    opacity: 0.7;
    height: 6rem;
    max-width: 27rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
}
/* -------------------------------/Footer----------------------------- */
/* -------------------------------Media Queries----------------------------- */

/* --------Extra small devices (less than 576px) ---------*/
@media (max-width: 575.98px) {
    
    /* align home window modal on an iphone 5/SE */
    .home-page-window {
        /* width: 19rem;
        height: 20rem; */
        margin-top: 5;
        font-size: 16px!important;
    }

    /* Set styles for easy game level on MOBILE phones */
    .main-game-image-easy {
        width: 120px;
        height: 120px;
        margin: 5px 0px 5px 0px;
    }

    .small-game-image-easy {
        height: 120px;
        width: 120px;
    }

    /* Set styles for medium game level */
    .main-game-image-md {
        width: 120px;
        height: 120px;
        margin-bottom: 4px;
    }

    .small-game-image-md {
        height: 100px;
        width: 100px;
        margin-top: 2px;
    }

    /* Set styles for advanced level */
    .main-game-image-adv {
        width: 105px;
        height: 100px;
        margin: 0px 0 2px 0;
    }
    
    .small-game-image-adv {
        height: 87px;
        width: 90px;
    }
}

/* -------Small devices (576px and up) ----------*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
    /* Set styles for EASY level */
    .main-game-image-easy {
        width: 130px;
        height: 130px;
        margin: 3px 0px 1px 0px;
    }
    
    .small-game-image-easy {
        height: 130px;
        width: 130px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/*------------ SMALL DEVICES (less than 768px) ------------*/
@media (max-width: 767.98px) {
    
    /* Navbar setup */
    .game-logo {
        width: 5rem;
        height: 5rem;
    }
    
    .home-button {
        font-size: 20px;
        border-width: 2px;
        background-color: #003300;
        position: relative;
        margin-bottom: 4px;
        width: 13rem;
        color: #E5EAE5;
        border-color: #E5EAE5;
    }
    
    /* Set timer and rounds div on mobile phones fo all game levels */
    .timer-div-style {
        font-size: 1.2rem;
        margin: 1px 2px;
    }
    
    .i-home-btn-return {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    /* adjust position of home window modal */
    /* .home-page-window {
        width: 25rem;
        height: 25rem;
        margin-top: 11rem;
    }
    
    .home-button {
        margin-top: 1.5em;
        margin-bottom: 10px;
        width: 11em;
    } */
    
}

/* -------Medium devices (tablets, 768px and up) ---------*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    /* Set position of difficulty window on an IPad */
    .home-page-window {
        margin-top: 18rem;
    }
    
    /* Set styles for easy game level */
    .easy-game-div {
        position: absolute;
        top: 11rem;
    }

    .main-game-image-easy {
        margin: 10px 0px 10px 0px;
        height: 200px;
        width: 200px;
    }
    
    .small-game-image-easy {
        height: 190px;
        width: 190px;
        margin: 10px 0px 10px 0px;
    }
    
    .i-home-btn-return {
        font-size: 15px;
    }
}

/* ----------Large devices (desktops, 992px and up) ---------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-game-image-md {
        width: 195px;
        height: 198px;
        margin-bottom: 1px;
    }
    
    .small-game-image-md {
        height: 165px;
        width: 170px;
        margin-top: 2px;
    }
}

/* -----------Extra large devices (large desktops, 1200px and up) ---------*/
@media (min-width: 1200px) {
    
    /* Set timer and rounds div on iPad Pro fo all game levels */
    .timer-div-style {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .time-span,
    .round-span {
        font-size: 30px;
    }

    .main-game-image-easy {
        height: 200px;
        width: 200px;
        margin: 15px 0px 15px 0px;
    }
    
    .small-game-image-easy {
        height: 190px;
        width: 190px;
        margin-top: 20px;
    }

    .timer-div-style {
        margin-top: 5px;
        font-size: 25px;
    }
    
    .i-home-btn-return {
        font-size: 25px;
    }
    
    /* Set styles for medium game level */
    .main-game-image-md {
        width: 170px;
        height: 170px;
        margin: 0px 0 1px 0;
        border: 2px solid white;
        padding: 2px;
    }
    
    .small-game-image-md {
        border: 2px solid white;
        height: 150x;
        width: 150px;
        padding: 2px;
        margin-bottom: 1px;
    }
    
    /* Set styles for advanced game level */
    .main-game-image-adv {
        width: 180px;
        height: 180px;
        margin: 1px 0 1px 0;
    }
    
    .small-game-image-adv {
        height: 143px;
        width: 150px;
        margin-top: 6px;
    }
}

/* --------------Styles for iPad Pro-------------------*/
@media (min-width: 1024px) and (max-width: 1366px) {
    
    /* Set up easy level styles for iPad Pro */
    
    /* Set position of difficulty window on an IPad */
    /* .home-page-window {
    margin-top: 18rem;
    } */
    /* Set styles for easy level on an iPad Pro - medium devices */
    .easy-game-div {
        position: absolute;
        top: 15rem;
    }
    
    .main-game-image-easy {
        width: 220px;
        height: 220px;
        margin: 50px 0 30px 0;
        border: 2px solid white;
        padding: 2px;
    } */

    .small-game-image-easy {
        height: 200px;
        width: 200px;
        margin: 10px 0px 5px 0px;
    }
    
    .i-home-btn-return {
        font-size: 25px;
    }
    
    /* Set styles for medium level on an iPad Pro- medium devices */
    .medium-game-div {
        position: absolute;
        top: 15rem;
    }
    
    /* Set styles for advanced level on an iPadPro - medium devices */
    .advanced-game-div {
        position: absolute;
        top: 15rem;
    }
    
    .main-game-image-adv {
        width: 220px;
        height: 220px;
        margin: 50px 0 30px 0;
    }
    
    .small-game-image-adv {
        height: 200px;
        width: 200px;
        margin-top: 30px;
    }
    
    /* Set position of difficulty window on an IPad Pro */
    .home-page-window {
        margin-top: 15rem;
    }
    
    /* Set timer and rounds div on iPad Pro fo all game levels */
    .timer-div-style {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .time-span,
    .round-span {
        font-size: 35px;
    }
}

/* --------------------------Syles for Ipad----------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* Set easy level game styles */
    /* .ipad-easy-lastrow {
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .ipad-easy-lastrow1 {
        margin-right: 30px;
        margin-top: 10px;
    } */

    .main-game-image-easy {
        height: 200px;
        width: 200px;
        margin: 15px 0px 15px 0px;
    }
    
    .small-game-image-easy {
        height: 190px;
        width: 190px;
        margin: 10px 0px 5px 0px;
    }
    
    .i-home-btn-return {
        font-size: 25px;
    }
    
    /* set style on iPad for medium level */
    .main-game-image-md {
        width: 208px;
        height: 205px;
        margin: 10px 0 30px 0;
    }
    
    .small-game-image-md {
        height: 166px;
        width: 172px;
        margin-bottom: 2px;
    }
    
    /* Set timer and rounds div on iPad for all game levels */
    .timer-div-style {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    /* set style on iPad for advanced level */
    .main-game-image-adv {
        width: 195px;
        height: 195px;
        margin: 30px 0 20px 0;
    }
    
    .small-game-image-adv {
        height: 2180px;
        width: 180px;
    }
}

/* ----------------Styles for Surface Duo ----------------*/
@media (min-width: 540px) and (max-width: 720px) {
    
    /* Return home button for medium level game */
    /* .home-btn-return {
        position: absolute;
        top: 7rem;
        left: 3%;
        z-index: 1;
    } */
    
    .i-home-btn-return {
        font-size: 20px;
    }

    /* style main game image */
    .main-game-image-adv {
        width: 120px;
        height: 120px;
        margin: 0px;
        border: 2px solid white;
        padding: 2px;
    }

    .small-game-image-adv {
        height: 95px;
        width: 95px;
    }
}

/* iPhone 6/7/8 Plus */
@media (min-width: 414px) and (max-width: 736px) {
    .main-game-image-easy {
        width: 140px;
        height: 140px;
        margin: 10px 0px 5px 0px;
    }
    
    .small-game-image-easy {
        height: 120px;
        width: 120px;
        margin: 10px 0px 10px 0px;
    }
}

/* Styles specifically for iPhone 5/SE and GalxyS5*/
@media (max-width: 360px) {

    /* Style medium game level */
    .main-game-image-md {
        width: 100px;
        height: 100px;
        margin-bottom: 2px;
    }

    .small-game-image-md {
        height: 85px;
        width: 85px;
        margin-top: 2px;
    }

/* Style advanced game level */
    .main-game-image-adv {
        width: 90px;
        height: 90px;
        margin-bottom: 1px;
    }

    .small-game-image-adv {
        height: 68px;
        width: 72px;
        margin-top: 2px;
    }

}

/* Style for iPhone 6/7/8 Plus */
@media (width: 414px) {
    /* style images in advanced game level */
.main-game-image-adv {
    width: 108px;
    height: 105px;
    margin: 0px 0 3px 0;
}

.small-game-image-adv {
    height: 96px;
    width: 100px;
}

/* style images in medium game level */
.main-game-image-md {
    width: 125px;
    height: 125px;
    margin: 0px 0 5px 0;
}

.small-game-image-md {
    height: 115px;
    width: 115px;
    margin-bottom: 4px;
}

}

/* Styles for iPhone X and iPhone 6/7/8 */
@media (width: 375px) {

/* Style images for medium game level */
.main-game-image-md {
    margin-bottom: 4px;
}

.small-game-image-md {
    margin-bottom: 4px;
}

/* Style images for advanced game level */
.main-game-image-adv {
    width: 105px;
    height: 100px;
    margin: 1px 0 3px 0;
}

.small-game-image-adv {
    height: 81px;
    width: 85px;
    margin-bottom: 5px;
}
}

/* ---------------------Media Queries ------------------*/
